@import '../../style.scss';

.btn_mange_pagging {
	background: #dadada;
	padding: 12px 20px;
	color: $text-color!important;
	font-weight: 800;
	margin: 0 10px;
	border-radius: 10px;
	@include transition(0.5s);
	cursor: pointer;
}

.btn_mange_pagging:hover, .btn_mange_pagging:focus {
	background: $text-color;
	color: #fff!important;
	font-weight: 800;
	border: 1px solid $main-color;
}

.btn_pagging {
	background: #dadada!important;
	color: $text-color;
	padding: 12px 20px!important;
	font-weight: 800;
	margin: 0 10px;
	@include transition(0.5s);
	cursor: pointer;
}

.btn_pagging:hover, .btn_pagging:focus {
	background: $text-color!important;
	color: #fff;
}

.scroll {
	width: auto;
	height: 230px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align:justify;
}